name: Publish

on:
  push:
   branches:
      - master

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: mvn clean install package
      - name: Test
        run: ls;pwd;echo "TTEST";echo "JAR=$(find ./target -name "*.jar")"
      - uses: actions/checkout@master
      - name: Upload file to bucket
        uses: zdurham/s3-upload-github-action@master
        with:
          args: --acl public-read
        env:
          FILE: echo $JAR
          AWS_REGION: 'us-east-1'
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          S3_KEY: FILE
