name: Publish

on:
  push:
   branches:
      - master

jobs:
  build:
    name: Publish binaries
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: mvn clean install
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/entrenamiento-0.0.1-SNAPSHOT.jar
        asset_name: mything
        tag: ${{ github.ref }}
        overwrite: true
        body: "This is my release text"
